.App {
  position: absolute;
width: 1040px;
height: 750px;
left: 0px;
top: 0px;
  text-align: center;
}

.NavBar {
position: absolute;
width: 1440px;
height: 124px;
left: 0px;
top: 0px;
background-color: rgba(79, 173, 117, 1);
display: flex;
align-items: flex-end;
row-gap: 500px;
}

/* .MainImage {
  width: 125%;
  height: 215%;
  background: no-repeat center;
  background-image: url(../images/muscle-pic.png); 
  z-index: -1;
  transform: rotate(270deg);
  } */

.NavButtons {
/* display: flex;
align-content: flex-end; */
}
