.App {
  position: absolute;
width: 1040px;
height: 750px;
left: 0px;
top: 0px;
  text-align: center;
}

.NavBar {
position: absolute;
width: 1440px;
height: 124px;
left: 0px;
top: 0px;
background-color: rgba(79, 173, 117, 1);
display: flex;
align-items: flex-end;
row-gap: 500px;
}

.MainImage {
  width: 125%;
  height: 206.5%;
  background: no-repeat center;
  background-size: cover;
  background-image: url(../images/muscle-pic.png); 
  z-index: -1;
  transform: rotate(270deg);
  filter: grayscale(100%);
  }

/* .NavButtons {
display: flex;
align-content: flex-end;
} */


.WorkoutBuilder {
  contain: content;
  background-color: rgb(182, 143, 219);
  width: 80%;
  height: 50%;
  overflow: scroll;
  margin-left: 20%;
  padding-left: 30px;
  border-radius: 15px;
  margin-top: -145%;
}

.BuilderTitle {
  padding-bottom: 2px;
  font-weight: bold
}

.NameAndGif {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.Card {
  border: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  width: 200px;
  background-color: bisque;
}



.gifButton{
  display: flex;
  justify-content: center;
  height: 60%;
  margin-top: 5%;
}

.gifBox {
width: 10%;
height: 10%;
}

.gif {
  width: 200px;
  height: 200px;
  margin-left: 10px;
  border: 1px solid;
  box-shadow: 2.5px 5px;
}

.Calculator {
  background-color:rgb(46, 94, 94);
  width: 40%;
  margin-left: 40%;
  padding: .02rem;
  border-radius: 10px;
}

.Workout-Box {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.Workouts {
  /* background-color: rgb(64, 85, 98); */
  width: 30%;
  margin-left: 40%;
}

.Exercise {
  position: absolute;
  border: 2px solid black;
  height: 300px;
  width: 260px;
  grid-template-columns: repeat(auto-fill, 300px);
  padding: .5rem;
  gap: .5rem;
}

/* .calc-box {
  background-color: aqua;
  width: 40%
} */

.max-title {
  font-size: 180%;
  padding-top: 0px;
}

.lift-name {
  font-size: 100%;
  margin-bottom: 10px;
}

